option_settings:
  aws:elasticbeanstalk:application:environment:
    MONGODB_URI: mongodb+srv://gapchat:d52zU0DtSVjWtvMA@gapchat-cluster-6ceay.mongodb.net/GapChatDB?retryWrites=true&w=majority
    PORT: 8282
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 10.15.3
